nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3d0027;
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 35;
  }
  
  nav li a:hover {
    background-color: #111;
  }
  
  .carousel-inner img {
    margin: auto;
  }

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.texto {
  float: left;
  width: 70%;
}

.imagen {
  float: right;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  padding: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  padding: 10px;
}