
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #77004b;
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 35;
  }
  
  nav li a:hover {
    background-color: #111;
  }
  
  .carousel-inner img {
    margin: auto;
  }

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.texto {
  float: left;
  width: 70%;
}

.imagen {
  float: right;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  padding: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  padding: 10px;
}
/*Codigo de 03-05

body {
	background: linear-gradient(to bottom right, red, blue);
}
*/

.container {
	margin: auto;
	margin-top: 50px;
	padding: 20px;
	background-color: #77004b;
	border: 5px solid #000000;
	width: 50%;
	max-width: 500px;
}

form {
	text-align: center;
}

input[type="button"] {
	margin-top: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.grid-container img {
  width: 100%;
  height: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

.grideses {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 40%));
  grid-gap: 44px;
}

/* Acá esta la caga en las dos imagenes del index AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA*/

.item {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
}

.grideses img {
  width: 40%;
  height: auto;
}

.grideses img {
  max-width: 100%;
}