<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grupo Cero</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="/static/js/bootstrap.js"></script>
    <link rel="icon" href="/static/imagenes/icono.png">
    <style>
        body {
          background-color: bisque;
        }
      </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li>
        <img src="/static/imagenes/logofinal.png" alt="" style="height: 90;">
      </li>
      <LI class="nav-item">
        <a class="nav-item active" href="/cafe/templates/cafe/index.html"> Inicio </a>
      </LI>
      <LI class="nav-item">
        <a class="nav-item active" href="/cafe/templates/cafe/pagina2.html"> Sobre Nosotros </a>
      </LI>
      <LI class="nav-item">
        <A class="nav-item active" href="/cafe/templates/cafe/pagina3.html" > Galería </A>
      </LI>
      <li>
        <a class="nav-item active" href="/cafe/templates/cafe/Api.html"> Café </a>
      </li>
      <li>
        <a class="nav-item active" href="/cafe/templates/cafe/login.html"> Cerrar sesión </a>
      </li>
    </ul>
  </div>
</div>
</nav>
    <div style="margin-bottom: 90;">
        <h1>Visión:</h1>
        <p style="font-size: larger;">
            Ser una galería de arte líder en el mercado nacional e internacional, ofreciendo una amplia variedad de obras de arte y proporcionando una experiencia única y memorable a nuestros clientes.
        </p>
        <h1>Misión:</h1>
        <p style="font-size: larger;">
            Nuestra misión es promover el arte y la cultura a través de la exhibición y venta de obras de arte de alta calidad. Queremos ser una plataforma para artistas emergentes y reconocidos, conectando su trabajo con coleccionistas y amantes del arte en todo el mundo.
        </p>
        <h1>Objetivos:</h1>
        <p style="font-size: larger;">
            Exhibir y vender obras de arte de alta calidad, brindando una experiencia única y atractiva para nuestros clientes. <br>

Fomentar el desarrollo y crecimiento de artistas emergentes y establecidos, brindando un espacio para su trabajo y proporcionando asesoramiento y apoyo profesional. <br>

Ampliar nuestro alcance y conexión con la comunidad artística y los amantes del arte en todo el mundo, a través de la promoción en línea y participación en eventos de arte. <br>

Ofrecer servicios personalizados y adaptados a las necesidades y preferencias de nuestros clientes, incluyendo asesoramiento en la selección de obras de arte, servicios de enmarcado y entrega a domicilio. <br>

Mantener altos estándares éticos y de integridad en todas nuestras operaciones y relaciones con artistas, clientes y proveedores.
        </p>
    </div>
              <nav>
                <ul style="padding: 10;">
            <footer>
              <div>
                      <div>
                        <a href="https://www.facebook.com">
                          <img style="width: 30px;" src="/static/imagenes/Facebook_Logo_(2019).png" alt="Facebook">
                        </a>
                        <a href="https://www.instagram.com">
                          <img style="width: 30px;" src="/static/imagenes/Instagram_logo_2022.svg.png" alt="Instagram">
                        </a>
                        <a href="https://www.twitter.com">
                          <img style="width: 30px;" src="/static/imagenes/3938028.png" alt="Twitter">
                        </a>
                      </div>
              </footer>
                  <div>
                    <p style="color: bisque;">@ Derechos Reservados</p>
                  </div>
                </div>
                </ul>
                </nav>

</body>
</html>
